@charset "UTF-8";

/*
em HTML é id   = em CSS é # (só pode um elemento)
em HTML é class = em CSS . (pode vários elementos)
*/

body{
    background-color: rgb(178, 172, 231);
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: rgb(45, 45, 58)
}

h1#principal{
    text-align: center;
    background-color: rgb(45, 45, 58);
    color:white;
}

h2{
    color: rgb(91, 89, 117);
   
}

.basico{
    color: rgb(67, 114, 77);
    font-weight: bolder;
}

.intermediario{
    color: rgb(134, 127, 20);
}

.avancado{
   color: rgb(119, 42, 42);
}

.destaque{
    background-color: cadetblue;
    
}