@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fontpoemas: 'pacifico', verdana;
    --fonttitulo: 'poppins';
    --fontparagrafo: 'roboto', verdana, sans-serif;
}

html, body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(31, 31, 31);
    height: 200px;
    margin: auto;
    font-family: var(--fonttitulo);
    text-align: center;
}

header > h1 {
    color: white;
    font-variant: small-caps;
    padding-top: 45px;
    font-size: 50px;
}

header p, a {
    color: white;
    font-family: var(--fontparagrafo);
    font-weight: 300;
 
}

a {
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline; 
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fontpoemas);
    font-weight: 200;
    font-size: 3vh;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: rgb(255, 255, 255);
    color: black;
}

section.imagem {
    background-color: rgb(46, 46, 46);
    color:white;
    box-shadow: inset 0px 5px 13px rgba(0, 0, 0, 0.432);
    background-size: cover;
    background-attachment: fixed;
    
}

section.imagem  p {
    background-color: rgba(0, 0, 0, 0.342);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

section#img1 {
    background-image: url('../imagens/background001.jpg');
    background-position: center;
    
}

section#img2 {
    background-image: url('../imagens/background002.jpg');
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--fontparagrafo);
    font-weight: 300;
}

