@charset "UTF-8";

*{  
    font-family: Arial, Helvetica, sans-serif;
   
}

body{
    background-image: linear-gradient(to top, #a7eaf1, #58b8b8 );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 5px 15px #013f3f8f;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}
h1{
    color: #025959;
    text-align: center;
    text-shadow: 1px 1px 0px #02464657;
}
h2{
    color: #A0A603;
    
}
p{
    text-align: justify;
}
    